.custom_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: visible;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
    overflow: visible;
}

.nav-menu li {
    margin-right: 30px;
    transition: transform 0.3s;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li:hover {
    transform: scale(1.2);
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #007bff;
}
